@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-paraCuando {
  background-image: url("../public/imgs/login/bg-principal.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}
.bg-paraCuando::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.925) 0%, rgba(0, 0, 0, 0.245) 100%);
}
